<div>
  <div [ngClass]="{'pageloader': true, 'is-active': pageLoaderActive }"><span class="title">Loading...</span></div>
  <navigation-top-nav></navigation-top-nav>
  
  <div class="columns">
    <div class="column is-2" *ngIf="auth.isAuthenticated$ | async">
      <navigation-left-nav></navigation-left-nav>
    </div>
    <div class='column is-10'>
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer">
   <nav class="level">
      <div class="level-item has-text-centered">
        <a class="bd-navbar-icon navbar-item" href="https://facebook.com/louisbustin" target="_blank">
          <span class="icon" style="color: var(--facebook);">
            <em class="fab fa-lg fa-facebook"></em>
          </span>
        </a>
        <a class="bd-navbar-icon navbar-item" href="https://twitter.com/louisbustin" target="_blank">
          <span class="icon" style="color: var(--twitter);">
            <em class="fab fa-lg fa-twitter"></em>
          </span>
        </a>      
      </div>
      <div class="level-item has-text-centered">
        <strong>The Musician Helper</strong>
      </div>
      <div class="level-item has-text-centered">
        <div class="content">
          <p><a routerLink="/tos">Terms of Service</a></p>
          <p><a routerLink="/privacy">Privacy Policy</a></p>
        </div>
      </div>
    </nav>
  </footer>
</div>
  