list picker here
<div class="columns">
    <div class="column">
        possible songs
        <ul *ngIf="completeListWithoutPickedItems$ | async as all">
            <li *ngFor='let a of all' (click)="pickItem(a)">{{a.name}}</li>
        </ul>             

    </div>
    <div class="column">
        <ul *ngIf="pickedListWithAddAndRemove$ | async as pickedList">
            <li *ngFor='let p of pickedList | orderBy: { property: "order" }'>{{p.name}}</li>
        </ul>            
    </div>
</div>  
<div class="columns">
    <div class="column">
        <button class="button is-primary">Save Songs</button>
    </div>
</div>