<div class="control">
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" placeholder="{{placeholder}}" name="tag" #newtagname>
        </div>
        <div class="control">
            <button class="button is-primary" (click)="addTag(newtagname.value)">Add</button>
        </div>
    </div>
</div>
<div class="field is-grouped is-grouped-multiline box" >
    <div class="control" *ngFor="let tag of tags.sort()">
        <div class="tags has-addons">
            <a class="tag is-link">{{tag}}</a>
            <a class="tag is-delete" (click)="deleteClick(tag)"></a>
        </div>
    </div>
</div>