<aside class="menu">
    <ul class="menu-list">
      <li><a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/news" routerLinkActive='is-active'>News</a></li>
    </ul>
    <p class="menu-label">
      Bands
    </p>
    <ul class="menu-list">
      <li><a>Add a new band</a></li>
      <li>
        <a>Manage Your Band</a>
        <ul>
          <li><a>Band Settings</a></li>
          <li><a>Members</a></li>
          <li><a>Add a member</a></li>
        </ul>
      </li>
      <li><a>Setlists</a></li>
      <li>
        <ul>
          <li><a>Add/Edit</a></li>
          <li><a>Manage</a></li>
        </ul>
      </li>
      <li><a>Invitations</a></li>
    </ul>
    <p class="menu-label">
      Profiles
    </p>
    <ul class="menu-list">
      <li><a>Edit Profile</a></li>
      <li><a>Find Members</a></li>
    </ul>
  </aside>
