<base href="/">
<div class="container" *ngIf="currentSong$ | async as song">
    <div class="content">
        <h1>Edit song details</h1>
    </div>
    <app-song-edit-form 
        [song]="song" 
        (cancelEvent)="cancel()" 
        (submitEvent)="editSong($event)" 
        [showDeleteButton]='true'
        (deleteEvent)="deleteSong($event)"
    ></app-song-edit-form>
    <app-notification contents="Song saved successfully." [closeInSeconds]="3" #notificationBox></app-notification>

</div>
