
<div class="container" *ngIf="currentSetlist$ | async as setlist">
    <div class="content">
        <h1>Edit setlist details</h1>
    </div>

    <app-setlist-edit-form 
        [setlist]="setlist" 
        (cancelEvent)="cancel()" 
        (submitEvent)="editSetlist($event)" 
        [showDeleteButton]='true'
        (deleteEvent)="deleteSetlist($event)"
    ></app-setlist-edit-form>
    <app-notification contents="Setlist saved successfully." [closeInSeconds]="3" #notificationBox></app-notification>

    <div class="columns">
        <div class="column">
            <ul *ngIf="setlist.songs">
                <li *ngFor='let song of setlist.songs'>{{song.name}}</li>
            </ul>
        </div>
        <div class="column">
            click a song, details here
        </div>
    </div>
</div>
