<!--
<div class="topnav">
    <div class="lefttopmenu">
      <a routerLink="/" routerLinkActive="active" class="topnavitem">Home</a>
    </div>
    <div class="righttopmenu">
      <app-authenticated-navlinks></app-authenticated-navlinks>
    </div>
</div>
-->

<nav id="navbar" class="mh-navbar navbar">
  <div class="navbar-brand">
    <a routerLink="/" routerLinkActive="active" class="navbar-item">Img here</a>

    <a class="navbar-item bd-navbar-mobile-icon" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: var(--github);">
        <i class="fab fa-lg fa-github-alt"></i>
      </span>
    </a>

    <a class="navbar-item bd-navbar-mobile-icon" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: var(--twitter);">
        <i class="fab fa-lg fa-twitter"></i>
      </span>
    </a>

    <button id="navbarBurger" class="navbar-burger" data-target="navMenuDocumentation">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div id="navMenuDocumentation" class="navbar-menu">
    <div id="navbarStartOriginal" class="navbar-start bd-navbar-start bd-is-original">
  <a class="
      navbar-item bd-navbar-item bd-navbar-item-base bd-navbar-item-documentation
      
      is-active
    " href="https://bulma.io/documentation">
    <span class="icon has-text-primary">
      <i class="fas fa-book"></i>
    </span>
    <span class="is-hidden-tablet-only is-hidden-desktop-only">
      Documentation
    </span>
    <span class="is-hidden-mobile is-hidden-widescreen">
      Docs
    </span>
  </a>

  
    


<a class="
  navbar-item
  bd-navbar-item
  bd-navbar-item-videos
  bd-navbar-item-base
" href="https://bulma.io/videos/">
<span class="icon has-text-success">
  <i class="fas fa-play-circle"></i>
</span>

<span>Videos</span>
</a>

  
    


<a class="
  navbar-item
  bd-navbar-item
  bd-navbar-item-expo
  bd-navbar-item-base
  
  
" href="https://bulma.io/expo/">
<span class="icon has-text-expo">
  <i class="fas fa-star"></i>
</span>

<span>Expo</span>
</a>

  
    


<a class="
  navbar-item
  bd-navbar-item
  bd-navbar-item-love
  bd-navbar-item-base
  
  
" href="https://bulma.io/love/">
<span class="icon has-text-love">
  <i class="fas fa-heart"></i>
</span>

<span>Love</span>
</a>

  
    


<a class="
  navbar-item
  bd-navbar-item
  bd-navbar-item-backers
  bd-navbar-item-base
  
  
" href="https://bulma.io/backers/">
<span class="icon has-text-patreon">
  <i class="fab fa-patreon"></i>
</span>

<span>Backers</span>
</a>

  

  
    


<a class="navbar-item bd-navbar-item bd-navbar-item-extensions bd-navbar-item-more" href="https://bulma.io/extensions/">
<span class="icon has-text-extensions">
  <i class="fas fa-plug"></i>
</span>

<span>Extensions</span>
</a>

  
    


<a class="navbar-item bd-navbar-item bd-navbar-item-bulma-book bd-navbar-item-more" href="https://bulma.io/the-official-bulma-book/">
<span class="icon has-text-bleeding">
  <i class="fas fa-bookmark"></i>
</span>

<span>Book</span>
</a>

  
    


<a class="navbar-item bd-navbar-item bd-navbar-item-blog bd-navbar-item-more" href="https://bulma.io/blog/">
<span class="icon has-text-rss">
  <i class="fas fa-rss"></i>
</span>

<span>Blog</span>
</a>

  
    


<a class="navbar-item bd-navbar-item bd-navbar-item-bulma-start bd-navbar-item-more" href="https://bulma.io/bulma-start/">
<span class="icon has-text-success">
  <i class="fas fa-rocket"></i>
</span>

<span>Start</span>
</a>

  
    


<a class="navbar-item bd-navbar-item bd-navbar-item-made-with-bulma bd-navbar-item-more" href="https://bulma.io/made-with-bulma/">
<span class="icon has-text-warning">
  <i class="fas fa-certificate"></i>
</span>

<span>Badge</span>
</a>

  

  <div class="navbar-item bd-navbar-item bd-navbar-item-base has-dropdown is-hoverable">
    

    <a class="navbar-link bd-navbar-ellipsis" href="https://bulma.io/more">
      <span class="icon">
        <i class="fas fa-ellipsis-h"></i>
      </span>
    </a>

    <div class="navbar-dropdown bd-navbar-dropdown is-boxed">
      
        
        
        <a class="navbar-item" data-route="" href="https://bulma.io/extensions">
            <div>
              <div class="icon-text">
                <span class="icon has-text-extensions">
                  <i class="fas fa-plug"></i>
                </span>
                <span>
                  <strong>Bulma extensions</strong>
                </span>
              </div>
              Side projects to enhance Bulma
            </div>
          
        </a>
        
          <hr class="navbar-divider ">
        
      
        
        
        <a class="navbar-item" data-route="" href="https://bulma.io/the-official-bulma-book">
            <div>
              <div class="icon-text">
                <span class="icon has-text-bleeding">
                  <i class="fas fa-bookmark"></i>
                </span>
                <span>
                  <strong>The official Bulma book</strong>
                </span>
              </div>
              A step-by-step guide that teaches you how to build a web interface from scratch using Bulma
            </div>
          
        </a>
        
          <hr class="navbar-divider ">
        
      
        
        
        <a class="navbar-item" data-route="" href="https://bulma.io/blog">
            <div>
              <div class="icon-text">
                <span class="icon has-text-rss">
                  <i class="fas fa-rss"></i>
                </span>
                <span>
                  <strong>Blog</strong>
                </span>
              </div>
              Stay updated with new features
            </div>
          
        </a>
        
          <hr class="navbar-divider ">
        
      
        
        
        <a class="navbar-item" data-route="" href="https://bulma.io/bulma-start">
            <div>
              <div class="icon-text">
                <span class="icon has-text-success">
                  <i class="fas fa-rocket"></i>
                </span>
                <span>
                  <strong>Bulma start</strong>
                </span>
              </div>
              A tiny npm package to get started
            </div>
          
        </a>
        
          <hr class="navbar-divider ">
        
      
        
        
        <a class="navbar-item" data-route="" href="https://bulma.io/made-with-bulma">
            <div>
              <div class="icon-text">
                <span class="icon has-text-warning">
                  <i class="fas fa-certificate"></i>
                </span>
                <span>
                  <strong>Made with Bulma</strong>
                </span>
              </div>
              The official community badge
            </div>
          
        </a>
        
          <hr class="navbar-divider ">
        
      
        
        
        <a class="navbar-item" data-route="" href="https://bulma.io/alternative-to-bootstrap">
            <div>
              <div class="icon-text">
                <span class="icon has-text-bootstrap">
                  <i class="fas fa-exchange-alt"></i>
                </span>
                <span>
                  <strong>Coming from Bootstrap</strong>
                </span>
              </div>
              See how Bulma is an alternative to Bootstrap
            </div>
          
        </a>
        
      
    </div>
  </div>
</div>


    <div class="navbar-end">
      <a class="bd-navbar-icon navbar-item" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: var(--github);">
          <i class="fab fa-lg fa-github-alt"></i>
        </span>
      </a>

      <a class="bd-navbar-icon navbar-item" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: var(--twitter);">
          <i class="fab fa-lg fa-twitter"></i>
        </span>
      </a>

      <div class="navbar-item bd-navbar-sponsor-button is-hidden-desktop">
        <a class="button is-sponsor is-light">
          <span class="icon is-small">
            <i class="fas fa-thumbs-up"></i>
          </span>
        </a>
      </div>

      <div class="navbar-item bd-navbar-sponsor-button is-hidden-touch">
        <a href="https://bulma.io/become-a-bulma-sponsor" class="button is-sponsor is-light">
          <span class="icon is-small">
            <i class="fas fa-thumbs-up"></i>
          </span>
          <span>
            Sponsor
          </span>
        </a>
      </div>

      <button class="navbar-item bd-navbar-search-icon">
        <span class="icon">
          <i class="fas fa-lg fa-search"></i>
        </span>
      </button>
    </div>
  </div>

</nav>