<nav id="navbar" class="mh-navbar navbar">
  <div class="navbar-brand">
    <a routerLink="/" routerLinkActive="active" class="navbar-item">Musician Helper</a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="navToggle=!navToggle" [ngClass]="{'is-active': navToggle}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenuDocumentation" class="navbar-menu" [ngClass]="{'is-active': navToggle}">
    <div id="navbarStartOriginal" class="navbar-start">

      <!--Home-->
      <a class="navbar-item" routerLink="/" (click)="navToggle=false;">
        <span class="icon">
          <em class="fas fa-bookmark"></em>
        </span>
        <span>Home</span>
      </a>

      <!--News-->
      <a class="navbar-item" routerLink="/news" (click)="navToggle=false;">
        <span class="icon">
          <em class="fas fa-rss"></em>
        </span>
        <span>News</span>
      </a>

      <!--Add band (only displayed when no band is created for user)-->
      <a class="navbar-item" *ngIf="!(currentBand$ | async) as currentBand" (click)="navToggle=false;">
        <span class="icon">
          <em class="fas fa-user-edit"></em>
        </span>
        <span>Add Band</span>
      </a>

      <ng-container *ngIf="currentBand$ | async as currentBand">
        <!--Members-->
        <a routerLink='/band/manage' class="navbar-item" (click)="navToggle=false;">
          <span class="icon">
            <em class="fas fa-user-edit"></em>
          </span>
          <span>Your Band</span>
        </a> 

        <!--Setlists-->
        <a class="navbar-item" routerLink="/setlists" (click)="navToggle=false;">
          <span class="icon">
            <em class="fas fa-clipboard-list"></em>
          </span>
          <span>Setlists</span>
        </a>

        <!--Songs-->
        <a class="navbar-item" routerLink="/songs" (click)="navToggle=false;">
          <span class="icon">
            <em class="fas fa-music"></em>
          </span>
          <span>Songs</span>
        </a>
      </ng-container>

      <!--Recruit-->
      <a class="navbar-item" routerLink="/users/search" (click)="navToggle=false;">
        <span class="icon">
          <em class="fas fa-people-arrows"></em>
        </span>
        <span>Find Musicians</span>
      </a>  
    </div>

    <div class="navbar-end">
      <app-band-context></app-band-context>
      <app-authentication-button (click)="navToggle=false;"></app-authentication-button>
    </div>
  </div>
</nav>