/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');
@import '~ag-grid-community/dist/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine.scss';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";


$blue: #498ba6;
$light: #f0f3f8;
$shade: #cbccc7;
$darkblue: #1a4173;
$blue2: #5a86bf;


$family-sans-serif: 'Nunito', sans-serif;
$primary: $blue;
$link: $darkblue;


$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

