/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');
@import '~ag-grid-community/dist/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine.scss';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bulma/bulma.sass';

$blue: #498ba6;
$light: #f0f3f8;
$shade: #cbccc7;
$darkblue: #1a4173;
$blue2: #5a86bf;


$family-sans-serif: 'Nunito', sans-serif;
$primary: $blue;
$link: $darkblue;


$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
    background: linear-gradient(to right top, $blue, $blue2);
}

html, body {
    height: 99%;
}

.container {
    height: 100%;
}

.section {
    height: 100%;
}

.topnavitem {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
}


.topnav {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #498ba6;
}

.lefttopmenu {
    flex: 1 1 200px;
    padding-left: 50px;
}


.righttopmenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
}

.pagecontent {
    height:100%;
    width: 100%;
}

