/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');
@import '~ag-grid-community/dist/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine.scss';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bulma/bulma.sass';


$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0,100,80);

$light: #f8f8f8;

$family-sans-serif: 'Nunito', sans-serif;
$primary: $green;
$link: $light-green;


$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
    background: linear-gradient(to right top, $turquoise, $green);
}

html, body {
    height: 99%;
}

.container {
    height: 100%;
}

.section {
    height: 100%;
}
