<div class="bd-navbar-icon navbar-item" *ngIf="auth.isAuthenticated$ | async">
    <div class="control has-icons-left" *ngIf="bands$ | async as bands">
        <ng-container *ngIf="bands.length > 0">
            <div class="select is-small">
                <select (change)="bandContextChanged()" [(ngModel)]="selectedBand">
                    <option *ngFor="let band of bands" [ngValue]="band">{{band.name}}</option>
                </select>
            </div>
            <div class="icon is-small is-left">
                <em class="fas fa-users"></em>
            </div>
        </ng-container>
    </div>
</div>
<div [ngClass]="{'pageloader': true, 'is-active': pageloaderActive$ | async}"><span class="title">Loading...</span></div>